# PortSwigger Web Security Academy Labs

The [PortSwigger Web Security Academy](https://portswigger.net/web-security)
is an excellent resource for learning about web application security.
However, I could not find anywhere that groups the labs by difficulty level,
so I wrote a script to scrape the data from each of the pages.

{% for level, topics in collection.items() %}
## {{ level }}

{% for topic, labs in topics.items() %}
### {{ topic }}
{% for lab in labs %}
[{{ lab.get("title") }}]({{ lab.get("url") }}) **{{ lab.get("status") }}**

{% endfor %}

{% endfor %}

{% endfor %}
